h1{

  text-align: center;
}
#infoderecha{
  float: right;
  
}
h3{
  clear: right;
  color: Green;
}
img{
  width: 125px;
  height: 125px;
  margin-right: 500px;
}

span.importantes{
  font-weight: bold;
}

span.lugar{
  color: Blue;
}
