#titulo{
  width: 350px;
  margin: auto;
}
h1{
  text-align: center;
  color:  	#2E8B57;
  text-align: center;
  background: #90EE90;
  padding: 20px;
  border-radius: 35px 35px 35px 35px;
  border: 2px solid  	#2E8B57;
}
#infoderecha{
  float: right;
  text-align: left;
}
span.apartados {
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
color:  	#2E8B57;
font-size: 18px;
font-weight: 400;
text-align: center;
background: #90EE90;
overflow: hidden;
padding: 10px;
border-radius: 35px 35px 35px 35px;

border: 2px solid  	#2E8B57;}

img{
  width: 125px;
  height: 125px;
  margin-bottom: 40px;
}

span.importantes{
  font-weight: bold;
}

span.lugar{
  color: Blue;
}
